body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    padding: 20px;
}

.btn-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

button {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    font-size: 16px;
}

.hide {
    display: none;
}

#timer, #score-container {
    margin-top: 20px;
}
